@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stalemate&display=swap");
$page-title-fonts: "Poppins", sans-serif;
$brand-color: #5b5ca6;
.companyDataCard {
  margin-top: 100px;
  min-height: 250px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.cardTitle {
  font-family: $page-title-fonts;
  font-size: 25px;
  text-align: center;
  color: #5b5ca6;
}

.iconSection {
  width: 80px;
  height: 80px;
  margin: 0px auto;
}
