@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stalemate&display=swap");
$brand-color: #5b5ca6;
$brand-title-color: #5b5ca6;
$brand-black-color: #000000;
$brand-white-color: #ffffff;
$page-title-fonts: "Poppins", sans-serif;
$page-cursive-fonts: "Stalemate", cursive;

.pageTitleHeading {
  font-size: 65px;
  font-weight: 700;
}

.brandName {
  color: $brand-title-color;
}

.pageDescriptionTag {
  font-size: 18px;
  font-family: $page-title-fonts;
  text-align: justify;
}
